Username: {{ .Username }}
Password: {{ .Password }}
Age: {{ .Age }}

IntSlice: {{ .IntSlice }}
StringSlice: {{ .StringSlice }}

CustomStruct: {{ .CustomStruct }}
CustomStructSlice: {{ .CustomStructSlice }}
